.App {
    background-color: white;
    height: 100vh;
    width: 100%;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
}